astropy==4.1
certifi==2020.6.20
cycler==0.10.0
kiwisolver==1.2.0; python_version >= '3.6'
matplotlib==3.3.2
numpy==1.19.2; python_version >= '3.6'
pillow==8.0.0; python_version >= '3.6'
pyparsing==2.4.7; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2'
python-dateutil==2.8.1; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
pytz==2020.1
six==1.15.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
tzlocal==2.1
